<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../page/design/design.css">
</head>

<body>
    <div class="header">
        <a href="./index.html" class="header_icon">
            <img src="../img/logo.png">
        </a>
        <ul class="header_right">
            <li>
                <a href="./draw.html" class="sign_in">制作</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="content_header">
            <div class="header_text">
                <h1>发布您的需求，将有专业的设计师为你提供服务</h1>
            </div>
        </div>
        <div class="content_table">
            <table class="table">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>分类</th>
                        <th>详情</th>
                        <th>联系方式</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2019 <a href="https://mail.google.com">implar20@gmail.com</a></p>
    </div>
</body>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="../page/design/design.js"></script>

</html>