<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../page/design/design.css">
</head>

<body>
    <div class="header">
        <div class="header_right">
            <div class="header_in">
                <a href="./index.html" class="header_icon">
                    <img src="../img/logo.png">
                </a>
                <ul class="header_right">
                    <li>
                        <a href="./desgin.html">需求</a>
                    </li>
                    <li>
                        <a href="./draw.html">制作</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content_header">
            <div class="header_text">
                <h1>发布您的需求，将有专业的设计师为你提供服务</h1>
                <a href="javascript:;">发布需求</a>
            </div>
        </div>
        <div class="content_table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>分类</th>
                        <th>详情</th>
                        <th>联系方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>niko</td>
                        <td>Logo</td>
                        <td>babababdablalal</td>
                        <td>1331055d815</td>
                    </tr>
                    <tr>
                        <td>niko</td>
                        <td>Logo</td>
                        <td>babababdablalal</td>
                        <td>1331055d815</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2019 <a href="https://mail.google.com">implar20@gmail.com</a></p>
    </div>
    <div class="mask">
        <div class="mask_page">
            <div class="mask_header">
                <h1>发布需求</h1>
                <div class="mask_cancel"></div>
            </div>
            <div class="mask_content">
                <div class="form-group">
                    <label for="">我需要：</label>
                    <textarea class="form-control mask_xu" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="">姓名：</label>
                    <input type="text" class="form-control mask_name">
                </div>
                <div class="form-group">
                    <label for="">分类：</label>
                    <input type="text" class="form-control mask_list">
                </div>
                <div class="form-group">
                    <label for="">联系方式：</label>
                    <input type="text" class="form-control mask_tel">
                </div>
                <button type="submit" class="btn btn-success">提交</button>
            </div>
        </div>
    </div>
</body>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="../page/design/design.js"></script>

</html>