<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/lib/mCs.css">
    <link rel="stylesheet" href="../page/draw/draw.css">
</head>

<body>
    <div class="header">
        <a href="./index.html" class="header_logo">
            <img src="../img/logo.png">
        </a>
        <ul class="header_left">
            <li>
                <a href="">
                    <i></i>
                    <span>新建</span>
                </a>
            </li>
            <li class="clear">
                <a href="javascript:;">
                    <i></i>
                    <span>清除</span>
                </a>
            </li>
            <!-- <li class="front">
                <a href="javascript:;">
                    <i></i>
                    <span>重做</span>
                </a>
            </li> -->
        </ul>
        <ul class="header_right">
            <!-- <li class="right_eye">
                <a href="javascript:;">
                    <i></i>
                    <span>预览</span>
                </a>
            </li> -->
            <!-- <li class="right_save">
                <a href="javascript:;">
                    <i></i>
                    <span>保存</span>
                </a>
            </li> -->
            <li class="right_download">
                <a href="javascript:;">
                    <i></i>
                    <span>下载</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <aside>
            <ul>
                <li class="icon active">
                    <a href="javascript:;">
                        <img src="../img/图标.svg">
                        <span>图标</span>
                    </a>
                </li>
                <li class="text">
                    <a href="javascript:;">
                        <img src="../img/文字.svg">
                        <span>文字</span>
                    </a>
                </li>
                <li class="shape">
                    <a href="javascript:;">
                        <img src="../img/形状-星形.svg">
                        <span>形状</span>
                    </a>
                </li>
                <li class="bg">
                    <a href="javascript:;">
                        <img src="../img/背景.svg">
                        <span>背景</span>
                    </a>
                </li>
            </ul>
            <div class="mCustomScrollbar content_icon" data-mcs-theme="minimal-dark">
                <div class="icon_list">
                    <ul class="list_menu">
                        <li class="shape_item">
                            <img src="../img/shape/眼睛(1).svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/眼睛(3).svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/花.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/圆形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/圆形布局.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/圆形未选中.svg">
                        </li>
                    </ul>
                    <div class="text_menu">
                        <h1>添加 LOGO 名</h1>
                        <p>添加标语</p>
                        <i></i>
                        <ul class="text_list">
                            <li>旁门正道</li>
                            <li>郑庆科黄油体</li>
                            <li>站酷快乐体</li>
                            <li>站酷高端黑</li>
                            <li>站酷酷黑</li>
                        </ul>
                    </div>
                    <ul class="color_menu">
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="section">
            <div class="bg_C">
                <canvas id="ctx" width="595" height="595"></canvas>
            </div>
        </div>
    </div>
    <!-- <div class="mask">
        <div class="reshow">

        </div>
        <div class="cancel">
            <span></span>
        </div>
    </div> -->
</body>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../public/lib/mCs.js"></script>
<script src="../../node_modules/fabric/dist/fabric.js"></script>
<script src="../page/draw/draw.js"></script>

</html>