<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/lib/mCs.css">
    <link rel="stylesheet" href="../page/draw/draw.css">
</head>

<body>
    <div class="header">
        <a href="./index.html" class="header_logo">
            <img src="../img/logo.png">
        </a>
        <ul class="header_left">
            <li>
                <a href="">
                    <i></i>
                    <span>新建</span>
                </a>
            </li>
            <li class="clear">
                <a href="javascript:;">
                    <i></i>
                    <span>清除</span>
                </a>
            </li>
            <!-- <li class="front">
                <a href="javascript:;">
                    <i></i>
                    <span>重做</span>
                </a>
            </li> -->
        </ul>
        <ul class="header_right">
            <!-- <li class="right_eye">
                <a href="javascript:;">
                    <i></i>
                    <span>预览</span>
                </a>
            </li> -->
            <!-- <li class="right_save">
                <a href="javascript:;">
                    <i></i>
                    <span>保存</span>
                </a>
            </li> -->
            <li class="right_download">
                <a href="javascript:;">
                    <i></i>
                    <span>下载</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <aside>
            <ul>
                <li class="bg active">
                    <a href="javascript:;">
                        <img src="../img/背景.svg">
                        <span>背景</span>
                    </a>
                </li>
                <li class="shape">
                    <a href="javascript:;">
                        <img src="../img/形状-星形.svg">
                        <span>形状</span>
                    </a>
                </li>
                <li class="icon">
                    <a href="javascript:;">
                        <img src="../img/图标.svg">
                        <span>图标</span>
                    </a>
                </li>
                <li class="text">
                    <a href="javascript:;">
                        <img src="../img/文字.svg">
                        <span>文字</span>
                    </a>
                </li>
            </ul>
            <div class="mCustomScrollbar content_icon" data-mcs-theme="minimal-dark">
                <div class="icon_list">
                    <ul class="list_menu">
                        <!-- 形状 -->
                        <li class="shape_item">
                            <img src="../img/shape/商业 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/商业 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/娱乐 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/娱乐 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/工业 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/工业 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/橄榄球.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/汽车 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/汽车 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/法律 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/法律 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/牛 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/牛 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/狗 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/狗 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/狗 3.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/猪.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/科技 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/科技 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/艺术 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/艺术 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/足球.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/通讯 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/通讯 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/通讯 3.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/金融 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/金融 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/金融 3.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/钱 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/钱 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/钱包.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/飞机 1.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/飞机 2.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/飞机 3.svg">
                        </li>
                        <li class="shape_item">
                            <img src="../img/shape/飞机 4.svg">
                        </li>
                        <!-- 图标 -->
                        <li class="icon_item">
                            <img src="../img/icon/beta.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/c.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/p.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/r.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/七边形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/三个星.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/三角形 实.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/三角形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/丝带 上.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/丝带.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/五角星 实.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/五角星.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/五边形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/会话框.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/八边形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/六边形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/可爱心.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/叶子 1.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/叶子 2.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/叶子 3.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/叶子 4.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/圆形 实.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/圆形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/圆角正方形 实.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/圆角正方形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/多角星.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/多边形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/大队长.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/对话框 实.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/左.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/徽章 1.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/徽章 2.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/徽章 3.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/徽章 4.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/徽章 5.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/徽章 6.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/徽章 7.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/徽章 8.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/心 实.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/心形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/旗帜 实.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/旗帜.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/星星.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/标题 下.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/标题.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/框框 实.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/框框.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/正方形 实.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/正方形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/水滴.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/皇冠.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/直角三角形 实.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/直角三角形.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/箭头.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/花 1.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/花 2.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/花 3.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/花 4.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/花 5.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/花 6.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/花6.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/锯齿 实.svg">
                        </li>
                        <li class="icon_item">
                            <img src="../img/icon/徽章 9.svg">
                        </li>
                    </ul>
                    <div class="text_menu">
                        <h1>添加 LOGO 名</h1>
                        <p>添加标语</p>
                        <i></i>
                        <ul class="text_list">
                            <li>旁门正道</li>
                            <li>郑庆科黄油体</li>
                            <li>站酷快乐体</li>
                            <li>站酷高端黑</li>
                            <li>站酷酷黑</li>
                            <li>台湾明体</li>
                            <li>微软正黑体</li>
                            <li>歌以晓手迹行楷体</li>
                            <li>海派强调明姿简</li>
                            <li>潮字社风云简</li>
                            <li>联盟起艺卢帅正锐黑体</li>
                            <li>鬼子体</li>
                            <li>青柳隷书</li>
                            <li>二次元胖头鱼体</li>
                            <li>圆润露锋芒</li>
                            <li>汉仪二码墨书繁</li>
                            <li>汉仪晓波花月圆简</li>
                            <li>極限塚黑 L</li>
                            <li>瘦默陌硬笔手写体</li>
                            <li>汉仪天宇风行体</li>
                        </ul>
                    </div>
                    <ul class="color_menu">
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item">
                            <span></span>
                        </li>
                        <li class="color_item color_add">
                            <img src="../img/添加.svg">
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="section">
            <div class="bg_C">
                <canvas id="ctx" width="595" height="595"></canvas>
            </div>
        </div>
    </div>
    <!-- <div class="mask">
        <div class="reshow">

        </div>
        <div class="cancel">
            <span></span>
        </div>
    </div> -->
</body>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../public/lib/mCs.js"></script>
<script src="../../public/lib/paigusu.min.js"></script>
<script src="../../node_modules/fabric/dist/fabric.js"></script>
<script src="../page/draw/draw.js"></script>

</html>