<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../page/index/index.css">
</head>

<body>
    <div class="header">
        <div class="header_in">
            <a href="./index.html" class="header_icon">
                <img src="../img/logo.png">
            </a>
            <ul class="header_right">
                <li>
                    <a href="./desgin.html">需求</a>
                </li>
                <li>
                    <a href="./draw.html">制作</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <h1>随心所欲免费订制你的专属Logo</h1>
            <p>DesignEvo为你提供9000+ Logo模板，帮助你在线免费制作Logo。</p>
            <p>只需几分钟，你就能轻松制作出独一无二的Logo设计。</p>
            <div class="content_btn">
                <a href="./draw.html">免费制作LOGO</a>
            </div>
        </div>
    </div>
    <div class="section">
        <h2>选择适合自己的服务</h2>
        <ul>
            <li class="d_human">
                <a href="./draw.html">
                    <img src="../img/用户.svg" alt="">
                    <h3>用户 DIV</h3>
                </a>
            </li>
            <li class="d_web">
                <a href="./desgin.html">
                    <img src="../img/设计师.svg" alt="">
                    <h3>专业设计师</h3>
                </a>
            </li>
        </ul>
    </div>
    <div class="wrap">
        <div class="banner">
            <h3>发掘你的设计灵感</h3>
            <div class="inner">
                <ul>
                    <li>
                        <a href="./draw.html">
                            <img src="../img/list.png">
                            <span>我是帅哥</span>
                        </a>
                    </li>
                    <li>
                        <a href="./draw.html">
                            <img src="../img/list.png">
                            <span>我是帅哥</span>
                        </a>
                    </li>
                    <li>
                        <a href="./draw.html">
                            <img src="../img/list.png">
                            <span>我是帅哥</span>
                        </a>
                    </li>
                    <li>
                        <a href="./draw.html">
                            <img src="../img/list.png">
                            <span>我是帅哥</span>
                        </a>
                    </li>
                    <li>
                        <a href="./draw.html">
                            <img src="../img/list.png">
                            <span>我是帅哥</span>
                        </a>
                    </li>
                    <li>
                        <a href="./draw.html">
                            <img src="../img/list.png">
                            <span>我是帅哥</span>
                        </a>
                    </li>
                    <li>
                        <a href="./draw.html">
                            <img src="../img/list.png">
                            <span>我是帅哥</span>
                        </a>
                    </li>
                    <li>
                        <a href="./draw.html">
                            <img src="../img/list.png">
                            <span>我是帅哥</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2019 <a href="https://mail.google.com">implar20@gmail.com</a></p>
    </div>
</body>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../page/index/index.js"></script>

</html>