/* 思源黑体 */
@font-face {
    font-family: 'SansHans-Black';
    src: url('../fonts/NotoSansHans-Black.otf');
}
@font-face {
    font-family: 'SansHans-Bold';
    src: url('../fonts/NotoSansHans-Bold.otf');
}
@font-face {
    font-family: 'SansHans-Dem';
    src: url('../fonts/NotoSansHans-DemiLight.otf');
}
@font-face {
    font-family: 'SansHans-Light';
    src: url('../fonts/NotoSansHans-Light.otf');
}
@font-face {
    font-family: 'SansHans-Medium';
    src: url('../fonts/NotoSansHans-Medium.otf');
}
@font-face {
    font-family: 'SansHans-Regular';
    src: url('../fonts/NotoSansHans-Regular.otf');
}
@font-face {
    font-family: 'SansHans-Thin';
    src: url('../fonts/NotoSansHans-Thin-Windows.otf');
}

/* 其他 */
@font-face {
    font-family: '旁门正道';
    src: url('../fonts/庞门正道.ttf');
}
@font-face {
    font-family: '站酷logo';
    src: url('../fonts/站酷logo.otf');
}
@font-face {
    font-family: '站酷快乐体';
    src: url('../fonts/站酷快乐体.ttf');
}
@font-face {
    font-family: '站酷酷黑';
    src: url('../fonts/站酷酷黑.ttf');
}
@font-face {
    font-family: '站酷高端黑';
    src: url('../fonts/站酷高端黑.ttf');
}
@font-face {
    font-family: '郑庆科黄油体';
    src: url('../fonts/郑庆科黄油体.ttf');
}
@font-face {
    font-family: '台湾明体';
    src: url('../fonts/台湾明体.ttf');
}
@font-face {
    font-family: '微软正黑体';
    src: url('../fonts/微软正黑体.ttf');
}
@font-face {
    font-family: '歌以晓手迹行楷体';
    src: url('../fonts/歌以晓手迹行楷体.ttf');
}
@font-face {
    font-family: '海派强调明姿简';
    src: url('../fonts/海派强调明姿简.ttf');
}
@font-face {
    font-family: '潮字社风云简';
    src: url('../fonts/潮字社风云简.ttf');
}
@font-face {
    font-family: '联盟起艺卢帅正锐黑体';
    src: url('../fonts/联盟起艺卢帅正锐黑体.ttf');
}
@font-face {
    font-family: '鬼子体';
    src: url('../fonts/鬼子体.ttf');
}
@font-face {
    font-family: '鬼子体';
    src: url('../fonts/');
}
@font-face {
    font-family: '鬼子体';
    src: url('../fonts/鬼子体.ttf');
}
@font-face {
    font-family: '青柳隷书';
    src: url('../fonts/青柳隷书.ttf');
}
@font-face {
    font-family: '二次元胖头鱼体';
    src: url('../fonts/二次元胖头鱼体.ttf');
}
@font-face {
    font-family: '圆润露锋芒';
    src: url('../fonts/圆润露锋芒.ttf');
}
@font-face {
    font-family: '汉仪二码墨书繁';
    src: url('../fonts/汉仪二码墨书繁.ttf');
}
@font-face {
    font-family: '汉仪晓波花月圆简';
    src: url('../fonts/汉仪晓波花月圆简.ttf');
}
@font-face {
    font-family: '極限塚黑 L';
    src: url('../fonts/極限塚黑 L.ttf');
}
@font-face {
    font-family: '瘦默陌硬笔手写体';
    src: url('../fonts/瘦默陌硬笔手写体.ttf');
}
@font-face {
    font-family: '汉仪天宇风行体';
    src: url('../fonts/汉仪天宇风行体.ttf');
}
